body
{
    position: relative;
    margin: 0 auto;
}

#page
{
    width: 620px;
    height:410px;
    margin: 0px auto 0;
     text-align: center;
}

#logo
{
    width: 130px;
    height:150px;
}
#uploadImage
{
    width: 70px;
}

#form
{
   
}

input
{
    margin-bottom: 5px;
}

